.home {
    margin-top: 70px;
    position: relative;
    display: block;
    background-color: #2b2b31;
    padding: 40px 0;
}

.home .container {
    position: relative;
    z-index: 2;
}

.home__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.home__cover {
    opacity: 0.07;
}

h1.home__title {
    /* padding: 9px 0px; */
    padding-bottom: 33px;
}

.home__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    padding-right: 70px;
}

.home__title b {
    font-weight: 700;
}

.home__carousel .item {
    margin-top: 25px;
}

.home__carousel .card {
    margin-bottom: 0;
}

.home__nav {
    font-size: 38px;
    color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    height: 24px;
    margin-top: -12px;
    right: 15px;
    display: block;
    z-index: 2;
}

.home__nav i {
    line-height: 24px;
    height: 24px;
    display: block;
}

.home__nav i:before {
    line-height: 24px;
}

.home__nav--prev {
    right: 60px;
}

.home__nav:hover {
    opacity: 1;
}

.home--bg:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    /* background: url("../img/home/home__bg.jpg") no-repeat center/cover; */
    opacity: 0.06;
}

@media (min-width: 576px) {
    .home__title {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    .home {
        margin-top: 90px;
        padding: 60px 0;
    }

    .home__title {
        font-size: 32px;
    }

    .home__carousel .item {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .home {
        padding: 70px 0;
    }

    .home__title {
        font-size: 36px;
    }
}